streamlit
pandas
openpyxl
requests
beautifulsoup4
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
langchain-text-splitters
langchain-experimental
langchain-neo4j
neo4j
langgraph
faiss-cpu
deepeval
playwright
langchain>=0.1.0
langchain-community>=0.0.10
langchain-openai>=0.0.2
deepeval>=0.21.0