streamlit
pandas
openpyxl
requests
beautifulsoup4
langchain
langchain-core
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
langchain-text-splitters
langchain-experimental
langchain-neo4j
neo4j
langgraph
faiss-cpu
deepeval
playwright